<div class="section">
    <p class="title"> {{this.title}} Publications </p>
    <div class="content" *ngIf="this.all_time">
        <mat-tab-group mat-align-tabs="center" >
            <mat-tab label="Since 1969" aria-selected="True">
                <ng-template matTabContent>
                <app-table [data]= "all_time"></app-table>
                </ng-template>
            </mat-tab>
            <mat-tab label="Past 10 Years">
                <ng-template matTabContent>
                    <app-table [data]= "past_10"></app-table>
                </ng-template> 
            </mat-tab>
            <mat-tab label="Past 5 Years">
                <ng-template matTabContent>
                    <app-table [data]= "past_5"></app-table>
                </ng-template> 
            </mat-tab>
            <mat-tab label="Past 12 Months">
                <ng-template matTabContent>
                    <app-table [data]= "past_1"></app-table>
                </ng-template> 
            </mat-tab>
        </mat-tab-group>
    </div>
</div>