.container{
    margin: 5px;

    .title{
        font-size: min(1.5vw, 30px);
        font-weight: bold;
        margin-left: 11px;
    }

    .section{
        display:flex;
        justify-content: center;
        
        .mat-tab-group{
            width: 100%;
        }
    }
}