.search-gene-form{
    width: 100%;
    display: flex;
    justify-content: end;

    .search-gene{
        width: 41%;
        border:1px solid black;
        border-radius: 10px;
        margin: 1vw;
    }

    .mat-form-field-wrapper{
        padding-bottom: 0px;
    }

    ::ng-deep .mat-form-field-subscript-wrapper{
        padding: 2em 1em;
     }

    ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0px;
    }

    ::ng-deep .mat-form-field-underline{
        display: none;
    }
}

.results{
    min-height: 150px;
    max-height: 350px;
    height: 10%;
    display: flex;
    flex-direction: column;
    position: relative;
    float: right;
    width: 10%;
    mat-toolbar {
      flex-grow: 0;
    }
    mat-list {
      flex-grow: 1;
      border: 3px solid green;
      overflow: auto;
    }
  }