@use "../../../../style_variables" as theme;

.content{
    display: flex;
    justify-content: center;
    margin:20px;
    .section{
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        margin: 0.5em;
        margin-top:1.5em;
    }
    div{
        // margin:2px;
        flex:1;
        .summary_values{
            // position:relative;
            // top:-2vw;
            margin:auto;
            width: fit-content;
            padding:1vw;
            background: #ff80ab;
            border: solid 1px;
            p{
                text-align: center;
                margin:0.2vw;
                color:white;
            }
        }
    }
    mat-divider{
        padding: 1vw;
        margin: 1vw;
    }
}

.number_title{
    font-size: min(1.5vw, 30px);
    font-weight: bold;
    margin: 0px;
}

.graph_title{
    font-size: min(1vw, 18px);
}

.graph_block{
    display:flex;
    flex-direction: column;
    // box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    padding: 0;
    padding-top: 10px;
    min-width: 100px;
    min-height: 100px;
    app-bar-chart{
        flex:1
    }
}

.info_button{
    position: relative;
    top: -12px;
    color: theme.$color-primary;
    left: -14px;
    font-size: 19px;
}

.info_button:hover{
    color: theme.$color-accent;
}