<div class="content">
    <div>
        <div *ngIf="n_papers_all_gene2pubmed" class="summary_values">
            <p class="number_title">{{n_papers_all_gene2pubmed | number}}</p>
            <p class="graph_title">Gene related documents in pubmed</p>
        </div>
        <mat-card class="section">
            <mat-card-header>
                <mat-card-title> Gene Publications </mat-card-title>
                <mat-icon class="info_button">info</mat-icon>
            </mat-card-header>
            <mat-card-content class="graph_block">
                <app-highchart 
                    chartType="line"
                    dataType = "publications" 
                    [data]="data_summary_hist_all_gene2pubmed"
                    seriesName="Publications"    
                ></app-highchart>
                <!-- <app-bar-chart [data]="data_summary_hist_all_gene2pubmed"></app-bar-chart>-->
                <app-highchart
                    chartType="line"
                    dataType = "publications" 
                    [data]="data_summary_hist_cum_all_gene2pubmed"
                    seriesName="Publications"
                ></app-highchart>   
                <!-- <app-bar-chart [data]="data_summary_hist_cum_all_gene2pubmed"></app-bar-chart> -->
            </mat-card-content>
        </mat-card>
    </div>
    <div class="research_gene2pubmed">
        <mat-card *ngIf="n_papers_research_gene2pubmed"  class="summary_values">
            <p class="number_title">{{n_papers_research_gene2pubmed | number}}</p>
            <p class="graph_title"> Primary research gene papers</p>
        </mat-card>
        <mat-card class="section">
            <mat-card-header>
                <mat-card-title> Primary Research </mat-card-title>
                <mat-icon class="info_button">info</mat-icon>
            </mat-card-header>
            <mat-card-content class="graph_block">
                <app-highchart
                    chartType="line"
                    dataType = "publications" 
                    [data]="data_summary_hist_research_gene2pubmed"
                    seriesName="Publications"
                ></app-highchart>
                <!-- <app-bar-chart [data]="data_summary_hist_research_gene2pubmed"></app-bar-chart> -->
                <app-highchart
                    chartType="line"
                    dataType = "publications" 
                    [data]="data_summary_hist_cum_research_gene2pubmed"
                    seriesName="Publications"
                ></app-highchart>
                <!-- <app-bar-chart [data]="data_summary_hist_cum_research_gene2pubmed"></app-bar-chart> -->
            </mat-card-content>
        </mat-card>
    </div>
    <div class="reviews_gene2pubmed">
        <mat-card *ngIf="n_papers_reviews_gene2pubmed"  class="summary_values">
            <p class="number_title">{{n_papers_reviews_gene2pubmed | number}}</p>
            <p class="graph_title">Gene Reviews and others</p>
        </mat-card>
        <mat-card class="section">
            <mat-card-header>
                <mat-card-title> Reviews and Others </mat-card-title>
                <mat-icon class="info_button">info</mat-icon>
            </mat-card-header>
            <mat-card-content class="graph_block">
                <app-highchart
                    chartType="line"
                    dataType = "publications" 
                    [data]="data_summary_hist_reviews_gene2pubmed"
                    seriesName="Publications"
                ></app-highchart>
                <!-- <app-bar-chart [data]="data_summary_hist_reviews_gene2pubmed"></app-bar-chart> -->
                <app-highchart
                    chartType="line"
                    dataType = "publications" 
                    [data]="data_summary_hist_cum_reviews_gene2pubmed"
                    seriesName="Publications"
                ></app-highchart>     
                <!-- <app-bar-chart [data]="data_summary_hist_cum_reviews_gene2pubmed"></app-bar-chart> -->
            </mat-card-content>
        </mat-card>
    </div>
</div>